.fondolanding{
    display: flex;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-conexion-red-degradado_23-2148904201.jpg?w=1380&t=st=1718845542~exp=1718846142~hmac=7e5d7ae343663373b960cab12ec19f83acc6a98a7c4497bb9f8444a753614199');
    background-size: auto;
    background-size: cover !important; /* Change this line */
    height: 50vh;
    width: auto;
    overflow: hidden;
}

.titulolanding{
    color: whitesmoke;
    margin-left: 30px;
    margin-top: 45px;
}

.textojustificado{
    text-align: justify;
}

.textocentrado{
    text-align: center;
}